<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
<div class=" m-5 w-4/5  bg-[#F6F7F9] border-l-2 ">
    <nav class=" h-24 bg-[#FFFFFF] flex items-center flex-row border border-t-4 border-r-0  ">
        <div class="search w-1/3 h-12 ml-8 bg-[#e5e7eb] flex items-center rounded-xl">
            <i class="fa-solid fa-magnifying-glass mr-4 ml-5"></i>
            <input class=" bg-[#e5e7eb]" placeholder="Search">
        </div>
        <div class="inline-flex items-center ">
            <div class="flex-row ml-80 mr-5">
                <div class="box-content flex justify-center items-center rounded-full w-12 h-12 bg-[#e5e7eb]">
                    <i class="fas fa-gear text-[#1d1b1b]"></i>
                </div>
            </div>
            <div class="flex-row mr-40 relative">
                <div class="box-content flex justify-center items-center rounded-full w-12 h-12 bg-[#e5e7eb]">
                    <i class="fas fa-bell text-[#1d1b1b]"></i>
                    <div class="absolute top-4 right-3 w-2 h-2 bg-red-500 rounded-full"></div>
                </div>
            </div>

            <p class="mr-2 not-italic font-semibold">Rafael Davis</p>
            <img class="w-16 h-16 mr-10 rounded-full" src="assets/person4.png" alt="">
        </div>
    </nav>
    <section class="bg-[#FFFFFF] p-7 flex items-center">

        <div class="mr-8">
            <div class="box-content flex justify-center items-center rounded-3xl w-20 h-20 bg-[#F6F7F9]">
                <i class="fa-brands fa-pagelines text-[#4865FF]  text-4xl"></i>
            </div>
        </div>
        <div>
            <div class="mb-1 text-base font-medium text-[#1d1b1b]">Write an article about Vue.js</div>
            <div>
                <span class="text-sm font-medium text-blue-700 dark:text-white">31%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: 31%"></div>
            </div>
        </div>

        <div class="flex -space-x-4 rtl:space-x-reverse ml-80">
            <img class="w-16 h-16 border-2 border-white rounded-full dark:border-gray-800" src="/assets/person1.png"
                alt="">
            <img class="w-16 h-16 border-2 border-white rounded-full dark:border-gray-800" src="/assets/person2.png"
                alt="">
            <img class="w-16 h-16 border-2 border-white rounded-full dark:border-gray-800" src="/assets/person3.png"
                alt="">
            <a class="flex items-center justify-center w-16 h-16 text-base font-medium text-[#4865FF]  bg-[#e5e7eb] border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
                href="#">+2</a>
        </div>
        <button type="button"
            class="ml-32 px-14 py-5 text-base font-medium text-center text-white bg-blue-700 rounded-3xl hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">+
            Add member</button>

    </section>
    <section class="mb-5">
        <div class="flex">
            <p class="text-3xl font-bold text-[#1d1b1b] ml-10 mt-10">LineUp</p>
            <p class="mt-10">(2)</p>
        </div>
    </section>

    <section class="flex ml-10">
        <div
            class="max-w-md p-1 divide-y divide-gray-300 bg-white border rounded-2xl border-l-8 border-red-600 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <div class="flex flex-wrap m-5">
                <h5 class=" text-lg font-bold leading-none text-gray-950">Dribbble: Banking app shot</h5>
                <p class=" text-base font-bold leading-none text-gray-800"> Showcase the key features and visual
                    aesthetics of banking app
                </p>
            </div>
            <div class=" flex items-center mb-5">
                <img class="w-12 h-12 rounded-full mt-4 ml-4" src="/assets/person1.png">
                <div class="flex ml-52"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1"
                            d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="1" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>9
                </div>

                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7.6 8.5h8m-8 3.5H12m7.1-7H5c-.2 0-.5 0-.6.3-.2.1-.3.3-.3.6V15c0 .3 0 .5.3.6.1.2.4.3.6.3h4l3 4 3-4h4.1c.2 0 .5 0 .6-.3.2-.1.3-.3.3-.6V6c0-.3 0-.5-.3-.6a.9.9 0 0 0-.6-.3Z" />
                    </svg>4
                </div>


                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8" />
                    </svg>2
                </div>

            </div>
        </div>
        <!-------------------------------------------------------------------------->

        <div
            class="max-w-md p-1 ml-10 divide-y divide-gray-300 bg-white border rounded-2xl border-l-8 border-lime-600 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <div class="flex flex-wrap m-5">
                <h5 class=" text-lg font-bold leading-none text-gray-950">Geological company website</h5>
                <p class=" text-base font-bold leading-none text-gray-800"> Create a corporate website design for a
                    gelogical company from Norway
                </p>
            </div>
            <div class=" flex justify-center items-center mb-5">
                <div class="flex -space-x-3 rtl:space-x-reverse mt-4">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person4.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person2.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person3.png" alt="">
                </div>
                <div class="flex ml-32"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1"
                            d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="1" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>10
                </div>

                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7.6 8.5h8m-8 3.5H12m7.1-7H5c-.2 0-.5 0-.6.3-.2.1-.3.3-.3.6V15c0 .3 0 .5.3.6.1.2.4.3.6.3h4l3 4 3-4h4.1c.2 0 .5 0 .6-.3.2-.1.3-.3.3-.6V6c0-.3 0-.5-.3-.6a.9.9 0 0 0-.6-.3Z" />
                    </svg>8
                </div>
                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8" />
                    </svg>2
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------>
        <div class="w-1/6 max-w-md ml-10 p-4 bg-white border-dashed border-2 border-gray-300 rounded-lg shadow-2xl">
            <div class="flow-root">
                <div class="flex flex-col items-center justify-center mb-4">
                    <div class="w-10 h-10 flex items-center justify-center rounded-full">
                        <svg class="w-[36px] h-[36px] text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 7.8v8.4M7.8 12h8.4m4.8 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <div class="mt-2 text-base font-semibold text-gray-900 dark:text-white">Add Task</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Section Treding-->
    <section class="mb-5">
        <div class="flex">
            <p class="text-3xl font-bold text-[#1d1b1b] ml-10 mt-10">Treding</p>
            <p class="mt-10">(3)</p>
        </div>
    </section>

    <section class="flex ml-10">
        <div
            class="max-w-md p-1 divide-y divide-gray-300 bg-white border rounded-2xl border-l-8 border-lime-600 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <div class="flex flex-wrap m-5">
                <h5 class=" text-lg font-bold leading-none text-gray-950">Customer Journey Mapping</h5>
                <p class=" text-base font-bold leading-none text-gray-800">Build user floww and Customer Journey
                    Mapping for a online cosmetics store
                </p>
            </div>
            <div class=" flex justify-center items-center mb-5">
                <div class="flex -space-x-2 rtl:space-x-reverse mt-4">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person4.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person2.png" alt="">
                </div>
                <div class="flex ml-32"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1"
                            d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="1" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>15
                </div>

                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7.6 8.5h8m-8 3.5H12m7.1-7H5c-.2 0-.5 0-.6.3-.2.1-.3.3-.3.6V15c0 .3 0 .5.3.6.1.2.4.3.6.3h4l3 4 3-4h4.1c.2 0 .5 0 .6-.3.2-.1.3-.3.3-.6V6c0-.3 0-.5-.3-.6a.9.9 0 0 0-.6-.3Z" />
                    </svg>11
                </div>
                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8" />
                    </svg>7
                </div>
            </div>
        </div>

        <div
            class="max-w-md p-1 ml-10 divide-y divide-gray-300 bg-white border rounded-2xl border-l-8 border-blue-700 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <div class="flex flex-wrap m-5">
                <h5 class=" text-lg font-bold leading-none text-gray-950">Behace: Al chat case</h5>
                <p class=" text-base font-bold leading-none text-gray-800"> Make a case for a portfolio on Behance
                    Project-mobile application
                </p>
            </div>
            <div class=" flex justify-center items-center mb-5">
                <div class="flex -space-x-2 rtl:space-x-reverse mt-4">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person1.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person2.png" alt="">
                </div>
                <div class="flex ml-32"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1"
                            d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="1" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>10
                </div>

                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7.6 8.5h8m-8 3.5H12m7.1-7H5c-.2 0-.5 0-.6.3-.2.1-.3.3-.3.6V15c0 .3 0 .5.3.6.1.2.4.3.6.3h4l3 4 3-4h4.1c.2 0 .5 0 .6-.3.2-.1.3-.3.3-.6V6c0-.3 0-.5-.3-.6a.9.9 0 0 0-.6-.3Z" />
                    </svg>8
                </div>
                <div class="flex ml-2"><svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8" />
                    </svg>2
                </div>
            </div>
        </div>

        <div
            class="w-1/6 max-w-md ml-10 divide-y divide-gray-300 bg-white border rounded-2xl border-l-8 border-black border-r-0 border-t-0 border-b-0 shadow-2xl">
            <div class="flex flex-wrap flex-row">
                <p class="mt-4 ml-8 text-base font-bold leading-none text-gray-950">Logotype desisgn Make a company
                </p>
                    <a class="ml-44 flex items-center justify-center w-12 h-12 text-base font-medium text-[#3a17d4]  bg-white border-2 border-white rounded-full hover:bg-gray-600 dark:border-blue-800"
                    href="#"><svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.6" d="m9 5 7 7-7 7"/>
                      </svg></a>
            </div>
            <div class=" flex justify-center items-center mb-5">
                <div class="flex -space-x-3 rtl:space-x-reverse mt-4">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person1.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person2.png" alt="">
                    <img class="w-12 h-12 border-2 border-white rounded-full dark:border-gray-800"
                        src="/assets/person4.png" alt="">
                </div>
            </div>

        </div>

    </section>

    <!--Section My Work-->
    <section class="flex items-center justify-between mb-5">
        <div class="flex items-center">
            <p class="text-3xl font-bold text-[#1d1b1b] mt-10 ml-10 mr-3">My Work</p>
            <p class="text-base mt-10">(3)</p>
        </div>

        <div class="bg-white flex items-center justify-center w-24 h-12 mr-10 mt-10 rounded-2xl">
            <svg class="w-[37px] h-[37px] text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.6"
                    d="M15 5v14M9 5v14M4 5h16c.6 0 1 .4 1 1v12c0 .6-.4 1-1 1H4a1 1 0 0 1-1-1V6c0-.6.4-1 1-1Z" />
            </svg>
            <svg class="w-[28px] h-[28px] text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.6"
                    d="M9.1 4H5c-.5 0-.9.4-.9.9V9c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9V5c0-.5-.4-.9-.9-.9Zm10 0H15c-.5 0-.9.4-.9.9V9c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9V5c0-.5-.4-.9-.9-.9Zm-10 10H5c-.5 0-.9.4-.9.9V19c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9v-4c0-.5-.4-.9-.9-.9Zm10 0H15c-.5 0-.9.4-.9.9V19c0 .5.4.9.9.9h4c.5 0 .9-.4.9-.9v-4c0-.5-.4-.9-.9-.9Z" />
            </svg>
        </div>
    </section>

    <section class="flex ml-10 mb-5">

        <button type="button"
            class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-3xl hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            To do
            <span
                class="inline-flex items-center justify-center w-6 h-6 ms-2 text-xs font-semibold text-blue-800 bg-white rounded-full">
                15
            </span>
        </button>

        <p class="mt-2 ml-12 text-lg font-bold leading-none text-gray-950">Comments</p>
        <a class="ml-3 flex items-center justify-center w-10 h-10 text-base font-medium text-[#3a17d4]  bg-[#cdd0d6] border-2 border-white rounded-full hover:bg-gray-600 dark:border-blue-800"
            href="#">2</a>

        <p class="mt-2 ml-12 text-lg font-bold leading-none text-gray-950">Done</p>
        <a class="ml-3 flex items-center justify-center w-10 h-10 text-base font-medium text-[#3a17d4]  bg-[#cdd0d6] border-2 border-white rounded-full hover:bg-gray-600 dark:border-blue-800"
            href="#">15</a>

        <p class="mt-2 ml-12 text-lg font-bold leading-none text-gray-950">Delegate</p>
        <a class="flex ml-3 items-center justify-center w-10 h-10 text-base font-medium text-[#3a17d4]  bg-[#cdd0d6] border-2 border-white rounded-full hover:bg-gray-600 dark:border-blue-800"
            href="#">4</a>

    </section>

    <section>
        <div
            class="mb-8 mr-10 ml-10 h-24 bg-white  border rounded-2xl border-l-8 border-red-700 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <p class=" ml-4 pt-2 text-sm font-bold leading-none text-gray-500"> Publications / Shots / Dribbble
            </p>
            <div class="flex pl-4">
                <p class="mt-2 text-lg font-bold leading-none text-gray-950">Dribbble: Banking app shot</p>
                <svg class="w-[31px] h-[31px] ml-60  text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                        d="M9 8h10M9 12h10M9 16h10M5 8h0m0 4h0m0 4h0" />
                </svg> 3/10
                <div class="flex ml-32 mb-10">
                    <div class="flex -space-x-3 rtl:space-x-reverse">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person3.png" alt="">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person2.png" alt="">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person4.png" alt="">
                    </div>
                    <p class="ml-28 pl-4 pt-5 text-sm font-bold leading-none text-gray-600"> July,22
                    </p>
                    <svg class="w-[37px] h-[37px] ml-20 pl-4 pt-3  text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2.6" d="M6 12h0m6 0h0m6 0h0" />
                    </svg>
                </div>
            </div>

        </div>

        <div
            class="mb-8 mr-10 ml-10 h-24 bg-white  border rounded-2xl border-l-8 border-blue-700 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <p class=" ml-4 pt-2 text-sm font-bold leading-none text-gray-500"> Publications / Shots / Dribbble
            </p>
            <div class="flex pl-4">
                <p class="mt-2 text-lg font-bold leading-none text-gray-950">Behance: Mobile delivery app</p>
                <svg class="w-[31px] h-[31px] ml-56  text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                        d="M9 8h10M9 12h10M9 16h10M5 8h0m0 4h0m0 4h0" />
                </svg> 1/8
                <div class="flex ml-32 mb-10">
                    <div class="flex -space-x-2 rtl:space-x-reverse">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person3.png" alt="">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person2.png" alt="">
                    </div>
                    <p class="ml-40 pl-4 pt-5 text-sm font-bold leading-none text-gray-600"> July,24
                    </p>
                    <svg class="w-[37px] h-[37px] ml-20 pl-4 pt-3  text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2.6" d="M6 12h0m6 0h0m6 0h0" />
                    </svg>
                </div>
            </div>

        </div>


        <div
            class="mb-8 mr-10 ml-10 h-24 bg-white  border rounded-2xl border-l-8 border-orange-500 border-r-0 border-t-0 border-b-0 shadow-2xl">
            <p class=" ml-4 pt-2 text-sm font-bold leading-none text-gray-500"> Intertnal / Events / Design
            </p>
            <div class="flex pl-4">
                <p class="mt-2 text-lg font-bold leading-none text-gray-950">Dribbble: Banking app shot</p>
                <svg class="w-[31px] h-[31px] ml-60  text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                        d="M9 8h10M9 12h10M9 16h10M5 8h0m0 4h0m0 4h0" />
                </svg> 2/14
                <div class="flex ml-32 mb-10">
                    <div class="flex -space-x-3 rtl:space-x-reverse">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person1.png" alt="">
                        <img class="w-14 h-14 border-2 border-white rounded-full dark:border-gray-800"
                            src="/assets/person2.png" alt="">
                        <a class="flex items-center justify-center w-16 h-16 text-base font-medium text-[#3a17d4]  bg-[#cdd0d6] border-2 border-white rounded-full hover:bg-gray-600 dark:border-blue-800"
                            href="#">+3</a>
                    </div>
                    <p class="ml-28 pl-4 pt-5 text-sm font-bold leading-none text-gray-600"> July,26
                    </p>
                    <svg class="w-[37px] h-[37px] ml-20 pl-4 pt-3  text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2.6" d="M6 12h0m6 0h0m6 0h0" />
                    </svg>
                </div>
            </div>

        </div>

    </section>

</div>